/* Add CSS Styling */

.first_button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.second_button {
    background-color: rgb(255, 238, 0)
}

.first_button,.second_button {
    font-size: 28px;
    font-family: 'Helvetica', 
    'Times New Roman',  sans-serif;
}